* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #66b464, #1c9518);
}

.title-wrapper, .wrapper { 
    width: 90%;
    max-width: 34.37em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(5, 222, 88, 0.2);
}

.title-wrapper {
    top: 10%;
}

h1 {
    text-align: center;
}

.wrapper {
    top: 50%;
    padding: 3em;
}

.container, .title-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}

#choices img {
    width: 6em;
    height: 6em;
    cursor: pointer;
    border: 3px solid #000;
    image-rendering: pixelated;
}

#result {
    text-align: center;
    margin-top: 1em; /* Optional: Adds some spacing between the result and the buttons */
}

.scores {
    margin-top: 2em;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .wrapper {
        font-size: 12px;
    }
    #choices img {
        width: 4em;
        height: 4em;
    }
}
